
<div class="audio-record-card">
  <mat-card class="audio-record-content card-shadow">
    <img src="../../assets/banner.jpg" class="banner-img" alt="Banner Imagen">
      <mat-card-content>
        <p>
          Sistema para Grabar y Transcribir Consultas Medicas
        </p>
      </mat-card-content>
      <mat-card-actions style="text-align: center;">
          <ng-template [ngIf]="!(isActionInProgress || isRecording)">
            <button (click)="startRecording()" [disabled]="isActionInProgress || isRecording" class="button-icon mic-button">
              <img src="../../assets/icon/icon-mic.png" class="icon" alt="Mic Icon">
              <span class="icon icon-text">Grabar</span>
            </button>
          </ng-template>

          <ng-template [ngIf]="!(!isActionInProgress || isRecording)">
            <button (click)="stopRecording()" [disabled]="!isActionInProgress || isRecording" class="button-icon stop-button">
              <img src="../../assets/icon/icon-mic-cancel.png" class="icon" alt="Mic Icon">
              <span class="icon icon-text">Detener</span>
            </button>
          </ng-template>

          <button (click)="deleteRecording()" [disabled]="isActionInProgress || isRecording || !blobUrl" class="button-icon delete-button">
            <img src="../../assets/icon/icon-delete.png" class="icon" alt="Mic Icon">
            <span class="icon icon-text">Eliminar</span>
          </button>
          <button (click)="downloadRecording()" [disabled]="isActionInProgress || isRecording || !blobUrl" class="button-icon download-button">
            <img src="../../assets/icon/icon-download.png" class="icon" alt="Mic Icon">
            <span class="icon icon-text">Descargar</span>
          </button>

        <div class="col-12 mt-2">
          {{startTime}}
        </div>
      </mat-card-actions>
  </mat-card>

  <br>
  <mat-card class="audio-record-content-2 card-shadow">
    <div class="col-12 mt-2" *ngIf="!isRecording && blobUrl">
      <audio class="audio-file" controls >
        <source [src]="blobUrl" type="audio/wav"/>
      </audio>
    </div>
    <ng-template [ngIf]="(buttonState$ | async) && isBlinking">
      <div class="col-12 mt-2" >
        <span class="recording-text">Grabando...</span>
      </div>
    </ng-template>
  </mat-card>
</div>
